<!DOCTYPE html>
<meta charset="utf-8" />
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter By Code</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='img/sidebar/minilogo.svg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/mailconfirmation.css')}}">
</head>
<body>
  <div class="header">
    <img src="{{url_for('static', filename='img/Autentification/logo.svg')}}" alt="" class="logo">
  </div>
  <div class="content">
    <div class="form">
      <div class="topform">
        <h1>
          Подтверждение почты
        </h1>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <h2 class="{{category}}" style="max-width: 486px; text-align: center; margin-top: 21px;"> {{ message }} </h2>
              {% endfor %}
            {% else %}
              <h2 id="message">Введите почту. На эту почту придёт письмо с ссылкой для подтверждения.</h2>
            {% endif %}
          {% endwith %}
        <form method="POST" id="form">
          <input type="text" id="code" placeholder="Введите почту...">
          <input type="submit" class="button" value="Подтвердить">
        </form> 
      </div>
    </div>  
  </div>
</body>
